<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">

    <bean id="zookeeperUtils" class="com.wangread.webstudy.common.utils.ZookeeperUtils">
        <constructor-arg index="0" value="192.168.23.167:2181,192.168.23.167:2182,192.168.23.167:2183"/>
        <constructor-arg index="1" value="/redis"/>
    </bean>
</beans>