<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.wangread.webstudy.common.db.DynamicConfigDataSourceBean">
        <property name="dbRoot" value="/db/mobile_app"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="mobile_app"/>
        <property name="password" value="tangchao_860222"/>
    </bean>

</beans>